.ui-controlgroup {
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
    max-width: 90%;
}

img {
    width: 50%;
    height: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.nav-glyphish-example .ui-btn .ui-btn-inner { padding-top: 40px !important; }
.nav-glyphish-example .ui-btn .ui-icon { width: 30px!important; height: 30px!important; margin-left: -15px !important; box-shadow: none!important; -moz-box-shadow: none!important;
-webkit-box-shadow: none!important; -webkit-border-radius: none !important; border-radius: none !important; }
#canoni .ui-icon { background:  url(../images/canonicon.jpg) 50% 50% no-repeat; background-size: 18px 18px; }
#nikoni .ui-icon { background:  url(../images/nikonicon.jpg) 50% 50% no-repeat; background-size: 18px 18px;  }
#sonyi .ui-icon { background:  url(../images/sonyicon.png) 50% 50% no-repeat;  background-size: 18px 18px; }

#canona .ui-icon { background:  url(../images/canonicon.jpg) 50% 50% no-repeat; background-size: 18px 18px; }